body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #f4f4f4;
    color: #333;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

p {
    padding: 5px 0;
}

footer {
    background: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

